.todo-container {
    width: 25%;
    height: 75px;
    margin: 50px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

input {
    height: 25px;
    font-size: 20px;
}

button {
    width: 75px;
    height: 35px;
    font-size: 20px;
    
}

.todo-display {
    width: 18%;
    margin: 10px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}